

 form {
    margin: 40px auto;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 25%;
}

.checkbox {
    margin: 20px 0;
}
 
 button {
     background-color: green;
 }
 .container{
    width: 50vw;
 }